Package                   Version
------------------------- -----------
acres                     0.3.0
aiofiles                  23.2.1
aiohappyeyeballs          2.4.0
aiohttp                   3.10.5
aioimaplib                1.1.0
aiosignal                 1.3.1
altair                    4.2.2
altgraph                  0.17.4
annotated-types           0.7.0
anyio                     4.7.0
appdirs                   1.4.4
asttokens                 3.0.0
async-timeout             5.0.1
asyncio                   3.4.3
attrs                     24.2.0
backcall                  0.2.0
beautifulsoup4            4.13.4
bidict                    0.21.2
bitarray                  3.4.0
bleach                    6.2.0
blinker                   1.8.2
Brotli                    1.1.0
bse                       2.0.1
cachetools                5.4.0
camelot-py                0.11.0
certifi                   2025.4.26
cffi                      1.17.0
chardet                   5.2.0
charset-normalizer        3.3.2
chmod                     0.0.8
ci-info                   0.3.0
click                     8.1.7
cloudpickle               3.1.0
colorama                  0.4.6
configobj                 5.0.9
configparser              7.2.0
contourpy                 1.2.1
credentials               1.1
cryptography              44.0.0
cssselect                 1.3.0
cssselect2                0.8.0
cycler                    0.12.1
dask                      2024.12.1
dataclasses-json          0.6.7
dateutils                 0.6.12
dearpygui                 2.0.0
decorator                 5.1.1
defusedxml                0.7.1
demjson3                  3.0.6
distro                    1.9.0
dnspython                 2.6.1
docopt                    0.6.2
docutils                  0.21.2
entrypoints               0.4
et_xmlfile                2.0.0
etelemetry                0.3.1
executing                 2.1.0
faiss-cpu                 1.10.0
fastapi                   0.115.6
fastjsonschema            2.21.1
ffmpy                     0.5.0
filelock                  3.16.1
fitz                      0.0.1.dev2
Flask                     3.0.3
fonttools                 4.53.1
frozendict                2.4.4
frozenlist                1.4.1
fsspec                    2024.12.0
gitdb                     4.0.11
GitPython                 3.1.43
gmft                      0.4.0
google-api-core           2.24.2
google-api-python-client  2.169.0
google-auth               2.34.0
google-auth-httplib2      0.2.0
google-auth-oauthlib      1.2.1
googleapis-common-protos  1.70.0
gradio                    5.9.1
gradio_client             1.5.2
greenlet                  3.1.1
gspread                   6.1.2
gspread-dataframe         4.0.0
h11                       0.14.0
hiredis                   3.2.0
html5lib                  1.1
httpcore                  1.0.7
httplib2                  0.22.0
httpx                     0.28.1
httpx-sse                 0.4.0
huggingface-hub           0.27.0
idna                      2.10
importlib_metadata        8.2.0
importlib_resources       6.5.2
iniconfig                 2.0.0
ipython                   8.12.3
isodate                   0.6.1
itsdangerous              2.2.0
jedi                      0.19.2
Jinja2                    3.1.4
jiter                     0.8.2
joblib                    1.4.2
jsonpatch                 1.33
jsonpointer               3.0.0
jsonschema                4.23.0
jsonschema-specifications 2023.12.1
jupyter_client            8.6.3
jupyter_core              5.7.2
jupyterlab_pygments       0.3.0
kaleido                   0.2.1
Kivy                      2.3.0
kivy-deps.angle           0.4.0
kivy-deps.glew            0.3.1
kivy_deps.gstreamer       0.3.4
kivy-deps.sdl2            0.7.0
Kivy-Garden               0.1.5
kiwisolver                1.4.5
langchain                 0.3.19
langchain-community       0.3.17
langchain-core            0.3.35
langchain-openai          0.3.6
langchain-pinecone        0.2.3
langchain-tests           0.3.12
langchain-text-splitters  0.3.6
langsmith                 0.3.8
locket                    1.0.0
looseversion              1.3.0
lxml                      5.3.0
lxml_html_clean           0.4.2
lz4                       4.4.4
markdown-it-py            3.0.0
MarkupSafe                2.1.5
marshmallow               3.26.1
matplotlib                3.9.2
matplotlib-inline         0.1.7
mdurl                     0.1.2
mistune                   3.0.2
motor                     3.7.0
MouseInfo                 0.1.3
mplfinance                0.12.10b0
mpmath                    1.3.0
mthrottle                 0.0.2
multidict                 6.1.0
multitasking              0.0.11
mypy-extensions           1.0.0
nbclient                  0.10.1
nbconvert                 7.16.4
nbformat                  5.10.4
nest-asyncio              1.6.0
networkx                  3.4.2
nibabel                   5.3.2
nipype                    1.10.0
nselib                    1.0
nsepy                     0.8
nsepython                 2.94
nsetools                  1.0.11
numerize                  0.12
numpy                     1.26.4
oauth2client              4.1.3
oauthlib                  3.2.2
openai                    1.78.0
opencv-python-headless    4.11.0.86
openpyxl                  3.1.5
orjson                    3.10.12
outcome                   1.3.0.post0
packaging                 24.1
pandas                    2.2.3
pandas_ta                 0.3.14b0
pandocfilters             1.5.1
parso                     0.8.4
partd                     1.4.2
pathlib                   1.0.1
pdfkit                    1.0.0
pdfminer.six              20231228
pdfplumber                0.11.5
pdfreader                 0.1.15
peewee                    3.17.6
pefile                    2023.2.7
pickleshare               0.7.5
pillow                    10.4.0
pinecone                  5.4.2
pinecone-client           6.0.0
pinecone-plugin-inference 3.1.0
pinecone-plugin-interface 0.0.7
pip                       25.1.1
pipreqs                   0.5.0
platformdirs              4.2.2
plotly                    5.23.0
pluggy                    1.5.0
prompt_toolkit            3.0.48
propcache                 0.3.2
proto-plus                1.26.1
protobuf                  5.27.3
prov                      2.0.1
pure_eval                 0.2.3
puremagic                 1.29
pya3                      1.0.29
pyarrow                   17.0.0
pyasn1                    0.6.1
pyasn1_modules            0.4.1
PyAutoGUI                 0.9.54
pycparser                 2.22
pycryptodome              3.21.0
pydantic                  2.10.4
pydantic_core             2.27.2
pydantic-settings         2.7.1
pydeck                    0.9.1
pydot                     4.0.0
pydub                     0.25.1
pydyf                     0.11.0
pyee                      11.1.0
PyGetWindow               0.0.9
Pygments                  2.18.0
pyinstaller               6.11.1
pyinstaller-hooks-contrib 2024.10
pymongo                   4.12.1
PyMsgBox                  1.0.9
PyMuPDF                   1.25.3
pyotp                     2.9.0
pyparsing                 3.1.2
pypdf                     3.17.4
PyPDF2                    3.0.1
pypdfium2                 4.30.1
pyperclip                 1.9.0
pyphen                    0.17.2
pypiwin32                 223
pyppeteer                 2.0.0
PyRect                    0.2.0
PyScreeze                 1.0.1
PySocks                   1.7.1
pytest                    8.3.4
pytest-asyncio            0.25.3
pytest-socket             0.7.0
python-dateutil           2.9.0.post0
python-dotenv             1.1.1
python-engineio           4.12.2
python-multipart          0.0.20
python-socketio           5.13.0
pytweening                1.2.0
pytz                      2025.2
pywin32                   310
pywin32-ctypes            0.2.3
pyxnat                    1.6.3
PyYAML                    6.0.2
pyzmq                     27.0.0
rdflib                    6.3.2
referencing               0.36.2
regex                     2024.11.6
rel                       0.4.9.20
requests                  2.32.4
requests-oauthlib         2.0.0
requests-toolbelt         1.0.0
rich                      14.0.0
rpds-py                   0.25.1
rsa                       4.9.1
ruff                      0.12.1
safehttpx                 0.1.6
safetensors               0.5.3
scipy                     1.16.0
semantic-version          2.10.0
setuptools                65.5.0
shellingham               1.5.4
simple-websocket          1.1.0
simplejson                3.20.1
six                       1.17.0
smmap                     5.0.2
sniffio                   1.3.1
soupsieve                 2.7
SQLAlchemy                2.0.41
stack-data                0.6.3
starlette                 0.41.3
streamlit                 1.46.1
sympy                     1.14.0
syrupy                    4.9.1
tabulate                  0.9.0
tenacity                  9.1.2
tiktoken                  0.9.0
tinycss2                  1.4.0
tokenizers                0.21.2
toml                      0.10.2
tomlkit                   0.13.3
toolz                     1.0.0
torch                     2.7.1
tornado                   6.5.1
tqdm                      4.67.1
traitlets                 5.14.3
traits                    7.0.2
transformers              4.50.3
typer                     0.16.0
typing_extensions         4.14.0
typing-inspect            0.9.0
tzdata                    2025.2
uritemplate               4.2.0
urllib3                   1.26.20
uvicorn                   0.35.0
watchdog                  6.0.0
wcwidth                   0.2.13
webencodings              0.5.1
websocket-client          1.8.0
websockets                10.4
Werkzeug                  3.1.3
wsproto                   1.2.0
yarg                      0.1.9
yarl                      1.20.1
zipp                      3.23.0
zstandard                 0.23.0